* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: rgba(0, 200, 140, 0.4);
  color: white;
}

#quesitonScreen {
  background: snow;
}

#questionChoices {
  background: peru;
}

.rectangle {
  height: 40%;
  width: 80%;
  margin: 0 auto;
}

.fullscreen {
  height: 90vh;
}

.header {
  height: 10vh;
  color: orange;
}
.button {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: olivedrab;
}

.questionChoices {
  width: 50%;
  height: 50%;
}
.sideBar {
  position: absolute;
  left: 5%;
  top: 5%;
  height: 200px;
  width: 50px;
  background-color: violet;
}

.sideBar-end {
  height: 90vh;
  width: 40vw;
  background: darkkhaki;
  text-align: center;
  font-size: 20px;
  color: darkorange;
  position: absolute;
  left: 15%;
  top: 15%;
  word-wrap: hidden;
}
