* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: rgba(0, 200, 140, 0.4);
}

#quesitonScreen {
  background: snow;
}

#questionChoices {
  background: peru;
}

.rectangle {
  height: 40%;
  width: 80%;
  margin: 0 auto;
}

.fullscreen {
  height: 90vh;
}

.header {
  height: 10vh;
}
.button {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: olivedrab;
}

.questionChoices {
  width: 50%;
  height: 50%;
}
